body {
    margin: 0;;
    background-color: hsl(300, 1%, 67%);
    
}
header{
    margin: 0;
    text-align: center;
    padding: 10px;
    background-color: rgb(114, 111, 111);
}
#a1 {
    
    color: rgb(215, 62, 146);
    font-size: 20px;
}
.box {
    margin: auto;
    border: 3px solid;
    font-size: 1.5em;
    width: 50px;
    height: 30px;
}
#box1 {
    background-color: greenyellow;
    box-shadow: 3px 3px 5px;
}

#box2 {
    background-color: green;
    box-shadow: 3px 3px 5px;
}
.container {
    font-style: italic;
    font-size: 1.2em;
    width: 50%; 
    text-align: left;
}

.container li {
    list-style-position: inside; 
}
.image {

    max-width: 300px;
    display: block; 
    margin: auto; 
}

#txt{
    font-family:  sans-serif;
    margin-left: 10px;
}
.h2{
    border-radius: 50px;
    background-color: rgb(114, 111, 111);    
    padding: 10px;
    text-align: center;
}
#t1{
    margin: auto;
}


